# 장고 백엔드 서버를 Docker에서 실행하기 위한 python패키지 목록을 담는 파일

Django>=4.2,<5.0
gunicorn>=20.1.0
boto3>=1.28         # AWS Rekognition 호출용
Pillow>=10.0        # 이미지 업로드/처리 (장고에서 이미지 필드 사용할 경우)
djangorestframework # REST API 작성에 필요 (Django REST Framework)
python-decouple     # .env 파일에 aws 키 등 민감 정보 분리 가능
python-dotenv       # .env를 직접 불러오는 방식
mysqlclient         # python이 mysql db에 접속할 수 있게 함
djangorestframework-simplejwt
requests
drf-spectacular     # 스웨거 패키지
drf-spectacular-sidecar
qrcode
celery
redis
opentelemetry-api   # OpenTelemetry core
opentelemetry-sdk
opentelemetry-instrumentation # Django 자동 계측용
opentelemetry-instrumentation-django
opentelemetry-exporter-otlp # OTLP exporter (Collector로 보낼 때 필요)  
prometheus-client #Optional: Prometheus client 직접 사용 시 (예: 커스텀 메트릭 수동 기록)
opentelemetry-instrumentation-requests